<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DinnerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>869C83FD1EABFA4200EA9968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869C84111EABFA4200EA9968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869C841C1EABFA4300EA9968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
